[submodule "packages/client"]
	path = packages/client
	url = https://github.com/peers/peerjs.git
[submodule "packages/server"]
	path = packages/server
	url = https://github.com/peers/peerjs-server.git
